@charset "ISO-8859-1";

  #htag{
  position: relative;
  top: 10px;
  margin-left: 450px;
  margin-bottom:50px;

  }

 

    #adjustmenttable
    {
     display:flex;
    }

    #products-table {
      background-color: white;
      height: 50px;
      overflow-y: scroll;
      width:300px;
     margin-left:0px;
     margin-right:500px;
    }
  #addedproducts
    {
      position:relative;
      
      margin-top:30px;
      margin-left:150px;
    }
     #headingtag
    {
      
      position:relative;
      right:1000px;
    }
    
      table {
      border-collapse: collapse;
      margin-bottom: 20px;
    }

    th, td {
    text-align:center;
      border: 1px solid black;
      padding: 8px;
      vertical-align: middle;
    }
    .delete-button {
      background-color: #f44336;
      border: none;
      color: white;
      padding: 6px 12px;
       font-weight: bold;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 14px;
      margin: 4px 2px;
      cursor: pointer;
      border-radius:6px;
    }
    

    #adjustmentsformdivid{
          max-width: 400px;
      margin-top: 60px;
       margin-left: 50px;
      padding: 20px;
      background-color: #ffffff;
      border: 1px solid #ccc;
      border-radius: 4px;
      margin-right:100px;
    }

    label {
      display: block;
      font-weight: bold;
      margin-bottom: 5px;
    }

    select,
    input[type="text"] {
      width: 100%;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      margin-bottom: 10px;
    }

    button[type="submit"] {
      background-color: #4CAF50;
      color: #ffffff;
      padding: 10px 16px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size: 16px;
    }

    button[type="submit"]:hover {
      background-color: #45a049;
    }
     .error-message {
      color: red;
      font-size: 12px;
      margin-top: 5px;
    }
    
     .single-line-heading {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    
    #updateButton
    {
       margin-left: 160px;
        border-radius:6px;
       width:80px;
      height:40px;
      background-color: #4CAF50;
      border: none;
      color: white;
      cursor: pointer;
      font-weight: bold;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    }
    
    #addButton
    {
        margin-left: 120px;
        border-radius:6px;
       width:120px;
      height:40px;
      background-color: #4CAF50;
      border: none;
      color: white;
      cursor: pointer;
      font-weight: bold;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
      
    }
    #adjustmentsformdivid{
    margin-left:70px; 
    margin-top:50px;
    
    }
    #headingid{
    margin-left:100px; 
    margin-bottom:20px; 
     font-weight:bold;
    }
    