@charset "ISO-8859-1";

#htag{
      margin-bottom: 50px;
      margin-right:160px;
  } 
    table {
      border-collapse: collapse;
      margin-bottom: 20px;
    }

    th, td {
    text-align:center;
      border: 1px solid black;
      padding: 8px;
    }

    .delete-button {
      background-color: #f44336;
      border: none;
      color: white;
      padding: 6px 12px;
       font-weight: bold;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 14px;
      margin: 4px 2px;
      cursor: pointer;
      border-radius:6px;
    }

    .table-container {
      display: flex;
      padding-bottom: 60px;
      margin-bottom:20px;
      
    }

    .table-container table {
      flex: 1;
      margin-right: 10px;
      float:right;
      
    }

    #product-form {
      padding-bottom: 50px;
    }

    .form-label {
      display: block;
      margin-bottom: 5px;
    }

    .form-input {
      width: 100px;
      padding: 5px;
      margin-bottom: 10px;
    }

    .form-submit:hover {
      background-color: #45a049;
      
    }

    .form-input-container {
      display: flex;
      gap: 10px;
      margin-bottom: 10px;
    }

     #products-table {
      background-color: white;
      height: 50px;
      overflow-y: scroll;
      width:1000px;
    }
    #total_indent
    {
    display: flex;
      gap: 10px;
      margin-bottom: 10px;
    }
    
        #first_table {
       height: 200px;
      
      overflow-y: scroll;
    }
    
        #Product-details-table {
       background-color: white;
      width:350px;

    }
           #reorder-level-table {
      background-color: white;
      width:350px;

    }
    
    #second_table {
       height: 200px;
      
      overflow-y: scroll;
    }

    
#addedproducts{

      justify-content: center;
      align-items: center;
      margin-left:70px;
      
    
    }
    .addProductsButtonClass{
    margin-left:50px;
    border-radius:6px;
    width:121px;
    height:40px;
    background-color: #4CAF50;
    border: none;
    color: white;
    cursor: pointer;
    font-weight: bold;
     box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    
    }
    #product-form{
      display: flex;
      margin-left: 200px;
      
    
    }
    
    label {
      display: block;
      font-weight: bold;
      color: #333;
      margin-bottom: 5px;
    }
    #createIndentButtonId{
    margin-left:450px;
    border-radius:6px;
    width:80px;
    height:40px;
    background-color: #4CAF50;
    border: none;
    color: white;
    cursor: pointer;
    font-weight: bold;
     box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
     
    }
    #products-dropdown
    {
    display:flex;
     margin-left:750px;
     padding-bottom:10px;
     margin-bottom:10px;
     
    }
     .error-message {
      color: red;
      font-size: 12px;
      margin-top: 5px;
    }
    #products-table input{
    
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 80px;
    }
    .delete-btn{
    
        background-color: #ff0000;
      color: #fff;
      border: none;
       color: white;
      font-weight: bold;
      padding: 6px 12px;
      cursor: pointer;
      border-radius:6px;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    }
    .add-btn,.add-btn1{
    border-radius:6px;
    background-color: #4CAF50;
    border: none;
    color: white;
    cursor: pointer;
    font-weight: bold;
     box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    }
    #product-category-heading{
    padding-right:10px;
    font-size:16px;
    }
    #product-category{
    width:100px;
    }
    #reorder-level-container{
    
    margin-right:50px; 
    margin-left:150px;
    }
    #product-details-container{
    margin-left:50px;
    }
    