<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

	<!-- DispatcherServlet Context: defines this servlet's request-processing 
		infrastructure -->

	<!-- Enables the Spring MVC @Controller programming model -->
	<mvc:annotation-driven />
	<context:component-scan base-package="main" />

	<!-- Resolves views selected for rendering by @Controllers to .jsp resources 
		in the /WEB-INF/views directory -->
	<beans:bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<beans:property name="prefix" value="/WEB-INF/views/" />
		<beans:property name="suffix" value=".jsp" />
	</beans:bean>
	
	<!-- CSS resource -->
<mvc:resources mapping="inventoryHome/styles/**" location="/WEB-INF/styles/inventory/" />

<!-- JavaScript resource -->
<mvc:resources mapping="inventoryHome/scripts/**" location="/WEB-INF/scripts/inventory/" />
	
     <!-- <beans:bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
	<beans:property name="driverClassName" value="org.postgresql.Driver" />
	<beans:property name="url" value="jdbc:postgresql://192.168.110.48:5432/plf_training" />
	<beans:property name="username" value="plf_training_admin" />
	<beans:property name="password" value="pff123" />
</beans:bean>
 -->
 <!-- CSS resource -->
<mvc:resources mapping="/adminHome/styles/**" location="/WEB-INF/styles/admin/" />

<!-- JavaScript resource -->
<mvc:resources mapping="/adminHome/scripts/**" location="/WEB-INF/scripts/admin/" />

<!-- <beans:bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
	<beans:property name="driverClassName" value="org.postgresql.Driver" />
	<beans:property name="url" value="jdbc:postgresql://localhost:5432/postgres" />
	<beans:property name="username" value="postgres" />
	<beans:property name="password" value="tharak123" />
</beans:bean> -->

<!-- <beans:bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
	<beans:property name="driverClassName" value="org.postgresql.Driver" />
	<beans:property name="url" value="jdbc:postgresql://localhost:5432/postgres" />
	<beans:property name="username" value="postgres" />
	<beans:property name="password" value="9266" />
</beans:bean>
 -->
 <beans:bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
	<beans:property name="driverClassName" value="org.postgresql.Driver" />
	<beans:property name="url" value="jdbc:postgresql://inventory-management.postgres.database.azure.com:5432/postgres" />
	<beans:property name="username" value="harsha" />
	<beans:property name="password" value="Inventory@2001" />
</beans:bean>

<!-- <beans:bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
 <beans:property name="driverClassName" value="org.postgresql.Driver" />
 <beans:property name="url" value="jdbc:postgresql://192.168.110.48:5432/plf_training" />
 <beans:property name="username" value="plf_training_admin" /><beans:property name="password" value="pff123" /> 
 </beans:bean> 
 -->
	<beans:bean id="entityManagerFactory"
	class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean"
	p:dataSource-ref="dataSource">
	<beans:property name="jpaVendorAdapter">
		<beans:bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
			<beans:property name="database" value="POSTGRESQL" />
			<beans:property name="generateDdl" value="true" />
			<beans:property name="showSql" value="true" />
			
		</beans:bean>
	</beans:property>
	<beans:property name="jpaProperties">
		<beans:props>
			<beans:prop key="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</beans:prop>
			<beans:prop key="hibernate.archive.autodetection">class</beans:prop>
			<beans:prop key="hibernate.hbm2ddl.auto">update</beans:prop>
		</beans:props>
	</beans:property>

	<beans:property name="packagesToScan" value="main.models.loginModel" />
</beans:bean>

<!-- CSS resource -->
<mvc:resources mapping="storeHome/styles/**" location="/WEB-INF/styles/store/" />
<mvc:resources mapping="HomeProcurement/styles/**" location="/WEB-INF/styles/procurement/" />

<!-- JavaScript resource -->
<mvc:resources mapping="storeHome/scripts/**" location="/WEB-INF/scripts/store/" />
<mvc:resources mapping="HomeProcurement/scripts/**" location="/WEB-INF/scripts/procurement/" />


	<!-- Transactions -->
	<beans:bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
	<beans:property name="entityManagerFactory" ref="entityManagerFactory" />
</beans:bean>
	
	<!-- enable the configuration of transactional behavior based on annotations -->
	<tx:annotation-driven transaction-manager="transactionManager" />
<tx:annotation-driven transaction-manager="transactionManager" />
    <beans:bean id="ProcurementDAO" class="main.dal.purchasesDAL.PurchasesDAL" autowire="byName"/>      
</beans:beans>